* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Archivo, Helvetica, Arial, sans-serif;
    padding: 0 10px;
}

section {
    width: 33.33%;
    padding: 0 5px;
}

.header{
    font-size: 35px;
    text-align: center;
    margin: 30px 0;
}

section > div {
    background-color: #e7e7e7;
    padding: 0 10px 5px;
    position: relative;
    border: 1px solid black;
}

.section-title {
    color: #111;
    border: 1px solid black;
    background-color: rgb(95, 204, 255);
    width: 150px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 0;
}

div > p {
    margin-top: 28px;
}

@media (min-width: 992px) {
    section {
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    
    .header {
        font-size: 30px;
        margin: 25px 0;
    }

    section {
        margin: 10px 0;
    }

    section:nth-child(2){
        width: 50%;
        float: left;
    }

    section:nth-child(3) {
        width: 50%;
        float: left;
    }
    
    section:nth-child(4){
        clear: both;
        width: 100%;
    }
}

@media (max-width: 767px){

    .header {
        font-size: 25px;
        margin: 20px 0;
    }

    section {
        margin: 10px 0;
        width: 100%;
    }
}